@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #FFD700;
    --second-color: #022C43;
    --tird-color: #fff;
    --dark-mode: #1B1A17;
}

.darkmode {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: var(--tird-color);
}

.darkmode h4 {
    padding: 0px 4px;
    display: flex;
    font-size: large;
    align-items: center;
}

.landasan {
    width: 30px;
    cursor: pointer;
    height: 15px;
    border-radius: 50px;
    border: 2px solid var(--tird-color);
    display: flex;
    justify-content: end;
    padding: 2px;
    transition: 1s;
}

.landasan.board {
    justify-content: start;
    transition: 1s;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--tird-color);
    transition: 1s;
}

.dark {
    background-color: var(--dark-mode);
}

.select.dark {
    background-color: var(--dark-mode);
}

.select.fixed.dark {
    background-color: var(--dark-mode);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: poppins;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
}

.select.fixed {
    position: fixed;
}

.select {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: var(--second-color);
    color: var(--primary-color);
}

.potong {
    width: 100%;
    margin: 0 200px;
}

.head {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.head .logo a {
    height: 45px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.head .logo a img {
    width: 25px;
    margin-right: 7px;
    border-radius: 100%;
}

.head .menu {
    display: flex;
    align-items: center;
}

.head .menu a {
    padding: 5px 7px;
    margin-left: 10px;
    color: var(--tird-color);
}

.body {
    margin-top: 200px;
    display: flex;
    flex-grow: 1;
}

.body .bg {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: end;
}

.body .bg.start {
    justify-content: start;
}

.body .bg p {
    color: var(--tird-color);
    display: block;
}

.body .bg i {
    border-left: 2px solid var(--primary-color);
    padding-left: 10px;
    margin-top: 100px;
}

.body .bg a {
    width: fit-content;
    border-radius: 7px;
    border: 1px solid var(--primary-color);
    background-color: var(--second-color);
    padding: 5px 7px;
    margin-top: 10px;
    display: block;
    text-align: center;
}

span {
    color: var(--tird-color);
}

.deesin .kotak {
    color: var(--primary-color);
}

.about {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

.about .isi {
    display: flex;
    flex-direction: column;
}

.about .isi p {
    color: var(--tird-color);
}

.about .isi .std {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}

.about .isi .miring {
    display: inline-block;
    margin-top: 40px;
    padding-left: 10px;
    border-left: 2px solid var(--primary-color);
}

.about .isi .std .box {
    max-width: 400px;
    border: 1px solid var(--primary-color);
    flex-direction: column;
    border-radius: 7px;
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding: 10px;
}

.about .isi .std .box:nth-child(3) {
    max-width: 830px;
}

.about .isi .std .box i {
    color: var(--tird-color);
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid var(--primary-color);
}

.about .isi .std .box h1 {
    font-size: 50px;
}

.info {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}

.info p {
    color: var(--tird-color);
}

.info .desin {
    display: flex;
}

.info .desin .kotak {
    display: flex;
    flex-direction: column;
    color: var(--tird-color);
    border: 1px solid var(--primary-color);
    width: 45%;
    margin-right: 10px;
    margin-top: 30px;
}

.info .desin .kotak P,
.info .desin .kotak h1 {
    padding: 10px;
}

.info .desin .kotak h1 {
    border-bottom: 1px solid var(--primary-color);
}

.project {
    margin-top: 150px;
}

.project p {
    color: var(--tird-color);
}

.project i {
    color: var(--primary-color);
    padding-left: 10px;
    border-left: 1px solid var(--primary-color);
    font-size: small;
    margin-top: 20px;
}

.project .space {
    height: 100px;
}

.project-list {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.project-list .box-pr {
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    border: 1px solid var(--primary-color);
    overflow: hidden;
    margin-bottom: 10px;
}

.project-list .box-pr img {
    max-width: 500px;
}

.project-list .box-pr .paraf {
    border-left: 1px solid var(--primary-color);
    height: 100%;
}

.project-list .box-pr h1,
.project-list .box-pr p {
    padding: 10px;
}

.project-list .box-pr h1 {
    border-bottom: 1px solid var(--primary-color);
}

.potong {
    width: 100%;
    margin: 0 200px;
}

.bottom {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.bottom .logo p {
    height: 45px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.bottom .logo p img {
    width: 25px;
    margin-right: 7px;
    border-radius: 100%;
}

.bottom .cra {
    display: flex;
    justify-content: end;
}

.bottom .cra p {
    padding: 0px 7px;
    margin-left: 10px;
    color: var(--primary-color);
    border-left: 2px solid var(--primary-color);
}

.select.cr {
    border-top: 1px solid var(--primary-color);
}

/* break point info */
#checkbox {
    display: none;
}

.breakpoint {
    display: none;
}

#geser {
    display: none;
}